language: python

addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python2.6
      - pypy

env:
 - TOXENV=py26
 - TOXENV=py27
 - TOXENV=py33
 - TOXENV=py34
 - TOXENV=py35
 - TOXENV=pypy
 - TOXENV=flake8

install:
 - pip install tox

script:
 - tox -e $TOXENV

notifications:
  email: false
